<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="#">Consulti</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
   
        <a class="nav-item nav-link"[routerLink]="['/']">Salir</a>
      </div>
    </div>
  </nav>
  <div class="contenedor-total">
      <h1 style="padding: 30px;" class="titulo">Lista de Tareas</h1>
      
      <div style="padding: 50px;">
        <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="verTarea()" >Crear tarea</button>
        <table class="table table'bordered">
          <thead class="thead">
            <tr>
              
              <th>Nombres</th>
              <th>Tiempos</th>
              <th>descripcion</th>
              <th>Inicio</th>
              <th>Fin</th>
              
              
            </tr>
          </thead>
          <tbody class="tbody"> 
            <tr *ngFor="let tarea of tareas">
              <td>
                {{tarea.nombre}}
              </td>
              <td>
                {{tarea.time}}
              </td>
              <td>
                {{tarea.descripcion}}
              </td>
              <td>
                {{tarea.inicio}}
              </td>
              <td>
                {{tarea.fin}}
              </td>
         
       
            </tr>
          </tbody>
      
        </table>
      </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear tarea</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="nombres">Nombre</label>
              <input type="text" #name  name="nombres" class="form-control" placeholder="Email" [(ngModel)]="tarea.nombre"/>
              </div>
            <div class="form-group">
              <label for="tiempo">Tiempo de desarrollo</label>
              <input type="number" #name  name="tiempo" class="form-control" [(ngModel)]="tarea.time"/>
            </div>
            <div class="form-group">
              <label for="apellidos">Descripcion</label>
              <input type="text" #name  name="apellidos" class="form-control" [(ngModel)]="tarea.descripcion"/>
            </div>
        <!-- Mostrar los usuarios tipo coordinador  -->
        <div style="padding: 50px;">
          <table class="table table'bordered">
            <thead class="thead">
              <tr>
                
                <th>Nombres</th>
                <th>Apellidos</th>
                
                
                
                <th>Identificador</th>
                
                <th>Hacer Lider</th>
             
              </tr>
            </thead>
            <tbody class="tbody"> 
              <tr *ngFor="let user of usuarioArea">
                <td>
                  {{user.nombres}}
                </td>
                <td>
                  {{user.apellidos}}
                </td>
           
                <td>
                  {{user.identificador}}
                </td>
            
                  <td>
                    <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="asignar(user)">Hacer Lider</button>
                  </td>
               
               
             
              </tr>
            </tbody>
        
          </table>
        </div>

          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Asignar-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Coordinadores disponibles</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="borrarData()"></button>
        </div>
        <div class="modal-body">
  
          <!-- Mostrar los usuarios tipo coordinador  -->
          <div style="padding: 50px;">
            <table class="table table'bordered">
              <thead class="thead">
                <tr>
                  
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  
                  
                  
                  <th>Identificador</th>
                  
                  <th>Hacer Lider</th>
               
                </tr>
              </thead>
              <tbody class="tbody"> 
                <tr *ngFor="let user of usuarioArea">
                  <td>
                    {{user.nombres}}
                  </td>
                  <td>
                    {{user.apellidos}}
                  </td>
             
                  <td>
                    {{user.identificador}}
                  </td>
              
                    <td>
                      <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="asignar(user)">Hacer Lider</button>
                    </td>
                 
                 
               
                </tr>
              </tbody>
          
            </table>
          </div>
  
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="borrarData()">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateUsuario(userToUpdate, userToUpdate.id)">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>