<div class="contenedor-total">
    <div class="container mt-4 ancho">
  
    </div>
    
  <div class="card card-class">
    
    <form [formGroup]="registerForm">
      <div class="row">
        <div class="col columna">
          <h1 class="header">Crear una nueva cuenta</h1>
          <br>
          <br>
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <br>
            <input type="text"  formControlName="nombres" class="form-control" id="nombres" placeholder="Nombres">
          </div>
          <br>
          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <br>
            <input type="text" formControlName="apellidos"  class="form-control" id="apellidos" placeholder="Apellidos">
          </div>
          <div class="form-group">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <br>
            <input type="date" formControlName="fecha_nacimiento"  class="form-control" id="fecha_nacimiento" placeholder="Fecha nacimiento">
          </div>
          <br>
          <div class="form-group">
            <label for="edad">Email</label>
            <br>
            <input type="email"  formControlName="email" class="form-control" id="email" placeholder="Email">
          </div>
          <br>
          <div class="form-group">
            <label for="edad">Password</label>
            <br>
            <input type="password"  formControlName="password"  class="form-control" id="password" placeholder="Password">
            <div *ngIf="registerForm.controls['password'].value&& !passwordRegex.test(registerForm.controls['password'].value)">La contraseña debe incluir al menos una mayúscula, una minúscula, un número y un carácter especial @,&,_.</div>
          </div>
          <br>
         
          <h1 class="titulo2">Area</h1>
          <div  *ngFor="let checkboxA of checkboxesArea">
            <label>
              <input type="checkbox" [id]="checkboxA.id" [disabled]="checkboxA.disabled" (change)="onChangeA($event)"  >
              {{checkboxA.value}}
            </label>
          </div>
          
        </div>
       
        <div class="col columna">
          <h1 class="titulo2">Escoja el tipo de usuario</h1>
          <div  *ngFor="let checkboxU of checkboxesUser">
            <label>
              <input type="checkbox" [id]="checkboxU.id" [disabled]="checkboxU.disabled" (change)="onChangeU($event)"  >
              {{checkboxU.value}}
            </label>
          </div>
       
  <br>
      <br>
      <br>
      <button type="submit" class="btn btn-warning color-boton" (click)="save()">Registrar</button>
      <br>
      <br>
      <div class="texto-footer">
        <h1>Si ya tienes una cuenta </h1>
        <a mat-list-item class="link"  [routerLink]="['/']" routerLinkActive="router-link-active" >
          <h1 class="texto-iniciar">Inicia sesión</h1>
        </a>
      </div>
        </div>
      </div>
  
 
      <br>
      <br>
     
    </form>
    </div>
  </div>