
<div class="container mt-4 ancho">
    <div class="card card-class">
      <h1 class="titulo">Iniciar sesión</h1>
      <form>    
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"class="form-control" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" placeholder="Email">
        </div>
        <br>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password"  class="form-control" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}"  placeholder="Contraseña">
        </div>
        <br>
        <button type="submit" class="btn btn-primary color-boton" (click)="Login()">Iniciar sesion</button>
        <br>
        <br>
        <div class="texto-footer">
          <h3 class="cuenta-text">¿Aún no tienes una cuenta? </h3> 
          <a mat-list-item    [routerLink]="['/sign-in']" routerLinkActive="router-link-active" >
            <h3 class="registrarse-text ml-3"> Registrarse</h3>
           </a>
        </div>
    
      
      </form>
      </div>
    </div>