<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" href="#">Consulti</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/jefe']">Lista de usuarios</a>
      <a class="nav-item nav-link"[routerLink]="['/addempleado']">Crear usuario</a>
      <a class="nav-item nav-link"[routerLink]="['/asignaciones']">Asignaciones</a>
      <a class="nav-item nav-link"[routerLink]="['/']">Salir</a>
    </div>
  </div>
</nav>
<div class="contenedor-total">

    <h1 style="padding: 30px;" class="titulo">Lista de Asignaciones</h1>
    <div style="padding: 50px;">
      <table class="table table'bordered">
        <thead class="thead">
          <tr>
            
            <th>Coordinador</th>
            <th>Identificador coordinador</th>
            <th>area coordinador</th>
            <th>Operativo</th>
            <th>Identificador operativo</th>
            <th>area operativo</th>
            
          </tr>
        </thead>
        <tbody class="tbody"> 
          <tr *ngFor="let asginacion of asignaciones">
            <td>
              {{asginacion.coordinador.nombres}}
            </td>
            <td>
              {{asginacion.coordinador.identificador}}
            </td>
            <td>
              {{asginacion.coordinador.area}}
            </td>
            <td>
              {{asginacion.operativos.nombres}}
            </td>
            <td>
              {{asginacion.operativos.identificador}}
            </td>
            <td>
              {{asginacion.operativos.area}}
            </td>
           
          <!--     <td>
                <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateUser(user,user.id)">Editar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteUsuario(user.id)">Eliminar</button>
              
              </td> -->
          </tr>
        </tbody>
    
      </table>
    </div>
</div>
