<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" href="#">Consulti</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/jefe']">Lista de usuarios</a>
      <a class="nav-item nav-link"[routerLink]="['/addempleado']">Crear usuario</a>
      <a class="nav-item nav-link"[routerLink]="['/asignaciones']">Asignaciones</a>
      <a class="nav-item nav-link"[routerLink]="['/']">Salir</a>
    </div>
  </div>
</nav>
<div class="contenedor-total">
    <h1 style="padding: 30px;" class="titulo">Lista de Coordinadores</h1>
    <div style="padding: 50px;">
      <table class="table table'bordered">
        <thead class="thead">
          <tr>
            
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Identificador</th>
            <th>Area</th>
            <th>Fecha de nacimiento</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody class="tbody"> 
          <tr *ngFor="let user of usuarios">
            <td>
              {{user.nombres}}
            </td>
            <td>
              {{user.apellidos}}
            </td>
            <td>
              {{user.email}}
            </td>
            <td>
              {{user.identificador}}
            </td>
            <td>
                {{user.area}}
              </td>
            <td>
                {{user.fecha_nacimiento}}
              </td>
              <td>
                <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateUser(user,user.id)">Editar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteUsuario(user.id)">Eliminar</button>
              
              </td>
          </tr>
        </tbody>
    
      </table>
    </div>
    <h1 style="padding: 30px;" class="titulo">Lista de Operadores</h1>
    <div style="padding: 50px;">
      <table class="table table'bordered">
        <thead class="thead">
          <tr>
            
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Identificador</th>
            <th>Area</th>
            <th>Asignar</th>
            <th>Editar</th>
            <th>Eliminar</th>
         
          </tr>
        </thead>
        <tbody class="tbody"> 
          <tr *ngFor="let user of usuarios2">
            <td>
              {{user.nombres}}
            </td>
            <td>
              {{user.apellidos}}
            </td>
            <td>
              {{user.email}}
            </td>
            <td>
              {{user.fecha_nacimiento}}
            </td>
            <td>
              {{user.identificador}}
            </td>
            <td>
                {{user.area}}
              </td>
              <td>
                <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="obtenerUserPorArea(user,user.area)">Asignar</button>
              </td>
              <td>
                <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateUser(user,user.id)">Editar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteUsuario(user.id)">Eliminar</button>
              
              </td>
           
         
          </tr>
        </tbody>
    
      </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombres">Email:</label>
            <input type="text" #name  name="nombres" class="form-control" placeholder="Email" [(ngModel)]="userToUpdate.email"/>
            </div>
          <div class="form-group">
            <label for="apellidos">Fecha de nacimiento:</label>
            <input type="date" #name  name="apellidos" class="form-control" [(ngModel)]="userToUpdate.fecha_nacimiento"/>
          </div>
      
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateUsuario(userToUpdate, userToUpdate.id)">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Asignar-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Coordinadores disponibles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Mostrar los usuarios tipo coordinador  -->
        <div style="padding: 50px;">
          <table class="table table'bordered">
            <thead class="thead">
              <tr>
                
                <th>Nombres</th>
                <th>Apellidos</th>
                
                
                
                <th>Identificador</th>
                
                <th>Agregar</th>
             
              </tr>
            </thead>
            <tbody class="tbody"> 
              <tr *ngFor="let user of usuariosArea">
                <td>
                  {{user.nombres}}
                </td>
                <td>
                  {{user.apellidos}}
                </td>
           
                <td>
                  {{user.identificador}}
                </td>
            
                  <td>
                    <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="asignar(user)">Asignar</button>
                  </td>
               
               
             
              </tr>
            </tbody>
        
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="borrarData()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateUsuario(userToUpdate, userToUpdate.id)">Save changes</button>
      </div>
    </div>
  </div>
</div>