

<div style="padding: 50px;">
    <table class="table table'bordered">
      <thead class="thead">
        <tr>
          
          <th>Nombres</th>
          <th>tiempo</th>
          <th>Descripcion</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Iniciar</th>
          <th>Terminar</th>
       
        </tr>
      </thead>
      <tbody class="tbody"> 
        <tr *ngFor="let tarea of tareas">
          <td>
            {{tarea.nombre}}
          </td>
          <td>
            {{tarea.time}}
          </td>
     
          <td>
            {{tarea.descripcion}}
          </td>
          <td>
            {{tarea.inicio}}
          </td>
          <td>
            {{tarea.fin}}
          </td>
      
            <td>
              <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="iniciar(tarea)">Iniciar</button>
            </td>
            <td>
              <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="terminar(tarea)">Iniciar</button>
            </td>
         
         
       
        </tr>
      </tbody>
  
    </table>
  </div>